<div class="row">

  <div class="col-md-3">
    <app-book-category></app-book-category>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="cartItems.length > 0">
          <table class="table table-bordered">
            <thead class="bg-dark text-white">
              <tr>
                <td width="20%">Book Image</td>
                <td width="50%">Book Details</td>
                <td width="30%"> </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of cartItems">
                <td>
                  <img [src]="cartItem.imgUrl" class="img-responsive" width="150" height="200"/>
                </td>
                <td>
                  <p>{{cartItem.name}}</p>
                  {{cartItem.unitPrice | currency: 'EUR'}}
                </td>
                <td>
                  <div class="row">
                    <div class="col-md-12">
                      <p>Quantity:
                        <span (click)="removeCartItem(cartItem)" class="float-right pointer">
                          <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </span>

                      </p>
                    </div>

                    <div class="col-md-4">

                    <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm text-white float-left">
                      <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                      </svg>
                    </button>

                    </div>
                    <div class="col-md-4 text-center">
                      {{cartItem.quantity}}
                    </div>
                    <div (click)="decrementQuantity(cartItem)" class="col-md-4">
                      <button class="btn btn-primary btn-sm text-white float-right">
                        <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                      </button>
                    </div>


                    <div class="col-md-12 mt-2">
                      <p>SubTotal: {{cartItem.quantity * cartItem.unitPrice | currency: 'EUR'}} </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td class="font-weight-bold">
                  <p>Total quantity: {{totalQuantity}}</p>
                  <p>Shipping: FREE</p>
                  <p>Total price: {{totalPrice | currency: 'EUR'}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert">
          Your Cart is empty
        </div>
      </div>
    </div>
  </div>

</div>
