<div class="row">

    <div class="col-lg-3">

      
      <div class="list-group">
        <a routerLink="/bookCategories/1" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Web Development</a>
        <a routerLink="/bookCategories/2" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Programming</a>
        <a routerLink="/bookCategories/3" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Databases</a>
        <a routerLink="/bookCategories/4" class="list-group-item" routerLinkActive="bg-primary text-white font-weight-bold">Administration</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top img-responsive" [src]="book.imageUrl" height="250" width="100"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{book.name}}</a>
                        </h4>
                        <h5>{{book.unitPrice/50 | currency: 'EUR'}}</h5>
                        <p class="card-text text-truncate">{{book.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">Add cart</button>
                    </div>
                </div>
            </div>
        </div>
      

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

